.header {
    background: $main_color;
    width: 100%;
    min-height: 120px;
    padding-top: 34px;

    .row {
        align-items: center;
        justify-content: space-between;
    }

    .navbar-nav {
        flex-direction: row;
        justify-content: center;
        gap: 40px;

        a {
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            text-transform: uppercase;
            color: #FFFFFF;

            &:hover {
                text-decoration-line: underline;
            }
        }
    }

    .toogle_menu {
        display: none;
    }
}


@media (max-width: 1199px) {
    .header {

        .navbar-nav {
            gap: 25px;

            a {
                font-size: 15px;
            }
        }
    }
}

@media (max-width: 991px) {
    .header {
        .row {
            justify-content: center;
        }

        
        .toogle_menu {
            position: absolute;
            top: 20px;
            right: 30px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 6px;
            background: transparent;
            border: none;
            box-shadow: none;
            outline: 0 !important;
        
            span {
                display: block;
                width: 30px;
                height: 3px;
                background: #151812;
                transition: all 0.4s;
        
                &:nth-child(2) {
                    width: 36px;
                }
        
            }
        
            &:hover {
                span {
                    width: 36px;
        
        
                    &:nth-child(2) {
                        width: 26px;
        
                    }
                }
        
            }
        
        
        }
        
        



        

    }

}
