.partners {

    &__carousel {
        padding-top: 85px;


        .carousel__item {
            display: flex;
            align-items: center;

            img {
                max-width: 100%;
                padding: 0 23px;
            }
        }

    }



    .slick-dots {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0;
        margin: 30px 0 0;
        gap: 10px;

        li {

            button {
                border: none;
                font-size: 0;
                line-height: 0;
                letter-spacing: -5px;
                width: 65px;
                height: 1px;
                background: #c4c4c4;
            }
        }

        .slick-active button {
            background: #000;
        }
    }


}

@media (max-width: 767px) {

    .slick-dots {
        li {
            button {
                width: 20px;
                height: 1px;
            }
        }
    }
}

@media (max-width: 575px) {

    .slick-dots {
        gap: 8px;

        li {
            button {
                width: 10px;
                height: 1px;
            }
        }
    }
}